<!DOCTYPE html>
<html>
<head>
	<title>Hoods Index Page</title>
</head>
<body>

	<header>
		<a href="/hoods/new">Create new hood</a>
	</header>

	<h1>List of Hoods</h1>

	<!-- <ul>
		<% for (let i = 0; i < hoods.length; i++) { -%>
			<li>
				<a href="hoods/<%= hoods[i].id%>"><%= hoods[i].name %></a>
			</li>
			<form action="/hoods/<%= hoods[i].id %>/?_method=DELETE" method="POST">
				<button>Delete Hood</button>
			</form>
		<% } -%>
	</ul> -->

</body>
</html>