<!DOCTYPE html>
<html>
<head>
	<title>Create New Hood</title>
</head>
<body>

	<h1>Create new hood</h1>

	<form action="/hoods" method="POST">
		Name:<input type="text" name="name">
		<button type="submit">Submit New Hood</button>
	</form>

</body>
</html>