<!DOCTYPE html>
<html>
<head>
	<title><%= hood.name %></title>
</head>
<body>

	<header>
		<a href="/hoods">Hoods Index</a>
	</header>

	<h1>Hoods Info</h1>

	<p><%= hood.name %></p>


	<a href="/hoods/<%= hood.id %>/edit"><button>Edit Hood</button></a>

</body>
</html>