<!DOCTYPE html>
<html>
<head>
	<title>Houses Index Page</title>
</head>
<body>

	<header>
		<a href="houses/new">Create New House</a>
	</header>

	<h1>List of Houses</h1>
	
	<ul>
		
		<% for (let i = 0; i < houses.length; i++) { -%>
			<li>
				<a href="houses/<%= houses[i].id %>"><%= houses[i].address%></a>
			</li>
			
			<form action="/houses/<%=houses[i].id%>/?_method=DELETE" method="POST">

			<button>Delete House</button>

			</form>

		<% } -%>

	</ul>

</body>
</html>