<!DOCTYPE html>
<html>
<head>
	<title><%=house.address%></title>
</head>
<body>

	<header>
		<a href="/houses">Home</a>
	</header>
	<h1>House Information</h1>

	<p>
		<%=
			house.address
		%>
	</p>


	<a href="/houses/<%=house.id%>/edit">
		<button>Edit House</button>
	</a>
</body>
</html>